.container {
    max-width: 80vw;
}

.registration-table {
    .filter-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        .filter-section {
            display: flex;
            flex-direction: row;
            margin: 2vw auto;
            width: 50%;
            justify-content: space-evenly;
        }
        .filter-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            margin: 2vw 0;
            .filter-applied {
                background-color: lightsteelblue;
                padding: 5px;
                border-radius: 2px;
                &--close {
                    cursor: pointer;
                    padding-left: 5px;
                }
            }
        }
    }
    .simple-table {
        border-collapse: collapse;
        width: 100%;
        thead  {
            tr {
                border-bottom: 2px solid #D6EFFF;
                background-color: rgb(186, 198, 206);
                th {
                    padding: 10px 0;
                }
            }
        }
        tbody {
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            tr:hover {
                background-color: #C6E9FF;
            }
            th, td {
                text-align: left;
                padding: 8px;
            }
            .table-dropdown {
                cursor: pointer;
            }
            .btn-remove {
                background-color: transparent;
                border: none;
                text-decoration: underline;
                font-weight: bold;
                color: red;
                outline: none;
            }
        }
    }
}

.has-success {
    width: 100%;
    text-align: center;
    color: #64ac15;
    font-weight: bold;
    a {
      color: #1dbb4c;
      font-size: 16px;
      font-weight: bolder;
    }
  }
  @media only screen and (max-width: 500px) {
    
    .registration-table { 
        max-width: 100vw !important; 
        margin: 0;
        overflow-x: scroll;
    }
  }