main {
    height: 100vh;
    width: 100vw;
}
.landing {
    &-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/Cover.jpg);
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    &-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        .btn {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px 25px;
            text-align: center;
            margin: 2vw 0;
            cursor: pointer;
            &:hover{
                background-color: #555;
                color: white;
            }
            &-register {
                background-color: #ddd;   
                color: black;
            }
            &-login {
                background-color: #bbb;
                color: #555;
            }
        }
    }
}